Makefile
autom4te.cache
config.log
config.status
.deps
.idea
missing
configure
aclocal.m4
compile
install-sh
Makefile.in
depcomp
*.o
doc/~*
bing
*.tmp
.dirstamp
src/.libs
m4
libtool
ltmain.sh
config.sub
config.guess
.libs

